@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap");

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  font-family: "Figtree", Arial, Helvetica, sans-serif;
  background-color: var(--yellow);
  padding: 20px;
}

.card {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  max-width: 370px;
  width: 100%;
  gap: 12px;
  min-height: 500px;
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px 0px var(--gray-950);
  padding: 24px;
  background-color: var(--white);
  border-radius: 20px;
}

.card .illustration {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  display: block;
}

.card .learning {
  background-color: var(--yellow);
  padding: 7px;
  font-size: 0.875rem;
  border-radius: 5px;
  font-weight: bold;
}

.card .link {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.card .link:hover,
.card .link:focus {
  color: var(--yellow);
}

.card .link:active {
  opacity: 0.8;
}

.card .name {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card .name img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
